# compilated files
*.exp
*.lib
*.obj
*.pyd
__pycache__/

# configuration files
*.sublime*
.vscode
.coverage*
htmlcov

# .umz and in/out files
*.umz
**/*.out
logs/*
!*.in
logs/input.in

# auxiliary
/TODO.txt
/auxiliary/*
/logs/bot.log
